{% extends 'app.twig' %}

{% block content %}

    {% if auth.check %}
        <h1>Hello, {{ auth.user.username }}</h1>
        <a href="{{ path_for('auth.signout') }}">Signout</a>
        <br/>
        <p>Your credit: {{ auth.user.credit }} - <a href="{{ path_for('credit.topup') }}">Top-up</a></p>
    {% else %}
       <h1>Hello from {{ appName }}</h1>
       <a href="{{ path_for('auth.signup') }}">Signup</a>
       <a href="{{ path_for('auth.signin') }}">Signin</a>
    {% endif %}
{% endblock %}
